<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" value="Region">
    <ion-segment-button value="Region">
      <ion-label>Region</ion-label>
    </ion-segment-button>
    <ion-segment-button value="All">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngIf="filterType === 'All'" (ionChange)="">
    <ion-card-content>
      <p>Filter By Type:</p>
      <ion-select value="House">
        <ion-select-option style="width: 50px;" *ngFor="let type of estateTypes" [value]="type">
          {{type}}
        </ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
  <ion-virtual-scroll [items]="filteredEstates" approxItemHeight="350px">
    <ng-container *ngFor="let item of filteredEstates">
      <ion-item color="success">
        {{item.region}}
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.image">
        </ion-thumbnail>
        <ion-label>
          <h3>Ref No. {{item.refNumber}}</h3>
          <p>{{item.type}}, {{item.bedrooms}} Bedrooms</p>
          <a (click)="onEstateViewClick(item)" color="primary">VIEW</a>
          <p>{{item.region}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-virtual-scroll>
</ion-content>
