<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Royal Estates</ion-title>
  </ion-toolbar>
  <ion-toolbar color="success">
    <ion-title>
      My Estates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="estates">
  <ion-card *ngFor="let singleEstate of estates">
    <ion-card-header>
      <ion-card-subtitle>{{name}} {{ singleEstate.region}}</ion-card-subtitle>
      <ion-card-title>Ref No.{{singleEstate.refNumber}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="{{singleEstate.image}}"></ion-img>
      <h3></h3>
      <p>Address: {{ singleEstate.address }}</p>
      <p>Type: {{ singleEstate.type }}</p>
      <a (click)="onEstateViewClick(singleEstate)" color="primary">VIEW</a>
    </ion-card-content>
    <ion-button style="padding-left: 22%;" (click)="onEstateClick(singleEstate.id)" href="/locations">
      <ion-icon slot="start" name="search"></ion-icon>
      Find Location
    </ion-button>
  </ion-card>
</ion-content>
